<section class="row">
  <div class="span8">
    
    <div class="row qa">
      <div class="span8">
        <h1>Help and FAQ</h1>
      </div>
    </div>
    
    <div class="row qa">
      <div class="span8">
        <h3>What are Crowns?</h3>
        <p>
          A Crown shows true prestige and accomplishment over other shops. It is the highest award Statisfy can bestow on a shop. Only one shop can possess a Crown at a given time.
        </p>
        <p>For example, the shop with the most orders in a given country would earn that country's <strong>Country</strong> Crown. A shop with the most blog articles would earn the <strong>Scribe</strong> Crown</p>
      </div>
    </div>
    
    <div class="row qa">
      <div class="span8">
        <h3>What are Trophies?</h3>
        <p>Trophies can be earned multiple times, and by multiple shops. Some Trophies are rare. Others are more common, and are won by many shops.</p>
        <p>There are no Trophies available yet, but are coming soon.</p>
      </div>
    </div>
    
    <div class="row qa">
      <div class="span8">
        <h3>When do you award Crowns and Trophies?</h3>
        <p>We award Crowns and Trophies every 12-24 hours.</p>
        <p>This stops competitors from deducing potentially sensitive details about your store.</p>
      </div>
    </div>

    <div class="row qa">
      <div class="span8">
        <h3>Do you store my customer's personal data?</h3>
        <p>No! We will never store (or use) your customer's personal data such as name, email address, full address, or billing information.</p>
        <p>We <strong>do store</strong> anonymized data, including to what country and order was shipped. This is used internally to analyze which stores have earned which crowns and awards.</p>
      </div>
    </div>
    
    <div class="row qa">
      <div class="span8">
        <h3>Do you display my sensitive data?</h3>
        <p>No! We know that your store has sensitive data. We will never display data like the number of orders you have.</p>
        <p>As we build more Crowns and Trophies, we will always respect your need for privacy.</p>
      </div>
    </div>
    
    <div class="row qa">
      <div class="span8">
        <h3>I have an idea for a Crown/ Trophy!</h3>
        <p>Great! <%= mail_to "nick@statisfy.me", "Let us know" %> and we'll see what we can do. Who knows, a really good suggestion might warrant it's own <em>rare</em> trophy!</p>
      </div>
    </div>
    
  </div>
  <div class="span4">
    <h1>Contact</h1>
    <p>
      Don't hesitate to get in touch with us. Issues, suggestions, feeback, anything! 
    </p>
    <p>
      <i class="icon-envelope-alt"></i> <%= mail_to "nick@statisfy.me" %>
    </p>
    <p>
      <i class="icon-twitter"></i> <%= link_to "@statisfy", "http://twitter.com/statisfy" %>
    </p>
  </div>
</div>

