
<header class="masthead">
  <h1><i class="icon-bar-chart icon-large"></i> <span class="orbitron">statisfy</span></h1>
  <p>Discover and be recognized for your Shopify performance</p>
</header>

<hr class="soften">

<div class="marketing">
  <section class="row">
    <div class="span6">
      <h2><i class="icon-globe icon-large"></i> Global Ranking System</h2>
      <p>
        Compare yourself against Shopify stores from across the earth. 
        See if your store has got what it takes.
      </p>
    </div>
  </section>
    <section class="row">
      <div class="span8 offset4">
        <h2><i class="icon-trophy icon-large"></i> Crowns &amp; Trophies</h2>
        <p>
          Be crowned ruler by beating your competitors. 
          Stuff your cabinet full of trophies as your performance improves.
        </p>
      </div>
    </section>
  <section class="row">
    <div class="span8"> 
      <h2><i class="icon-check icon-large"></i> Actionable statistics</h2>
      <p>
        Discover your strength and weaknesses. 
        Formulate real business strategies based on your and your competitors' statistics.
      </p>
    </div>
  </section>
</div>