
<header class="masthead">
  <h1><i class="icon-bar-chart icon-large"></i> <span class="orbitron">statisfy</span></h1>
  <p>Discover and be recognized for your Shopify store's performance</p>
</header>

<hr class="soften">

<div class="marketing row">
  <section role="standings" class="span6">
    <h2><i class="icon-globe icon-large"></i> Global Standings</h2>
    <ul class="countries">
      <% @countries.each do |country| %>
        <%= content_tag_for :li, country, class: country.code do %>
          <%= "#{country.reigning_crown.shop.name} rules over #{country.name}"%>
        <% end %>
      <% end%>
    </ul>
    <p>
      See yourself here. <%= link_to "Sign up now", login_path %>
    </p>
  </section>
  <div class="span6">
    <section class="row">
      <div class="span6">
        <h2><i class="icon-trophy icon-large"></i> Crowns &amp; Trophies</h2>
        <p>
          Does your store have what it takes?
          Prove it by gaining crowns and trophies.
        </p>
      </div>
    </section>
    <section class="row">
      <div class="span6"> 
        <h2><i class="icon-check icon-large"></i> Actionable statistics</h2>
        <p>
          Discover your strengths and weaknesses. 
          Formulate real business strategies based on your and your competitors' statistics.
        </p>
      </div>
    </section>
  </div>
</div>