@import "colours";
@import "modify_bootstrap";
@import "font-awesome";
@import "bourbon";
@import "fonts";
@import "home";
@import "shop";

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
  border: 0;
}

.footer{
  text-align: center;
  a{
    padding: 20px;
  }
}

.quote{
  padding-left: 20px;
  color: #888;
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
}