.masthead {
  padding-top: 36px;
  margin-bottom: 40px;
  text-align: center;
  
  h1{
    margin-bottom: 18px;
    font-size: 100px;
    line-height: 1;
    color: $dark_blue;
    .orbitron{
      position: relative;
      top: 25px;
    }
  }
  
  p{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 38px;
    font-weight: 300;
  }
}

.marketing{

  section{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  p{
    font-size: 16px;
    line-height: 30px;
  }
  
  .signup{
    background: asset-url("hidden_ranking.jpg", image) no-repeat;
    height: 415px;
    text-align: center;
    .cta{
      color: #fff;
      width: 100%;
      margin-top: 80px;
      background-color: #eee;
      background-color: rgba(0,0,0,0.7);
      float: left;
      p, h2 {
        padding: 20px;
      }
      h2{
        padding-bottom: 5px;
      }
      a{
        font-size: 25px;
      }
    }
  }
}

.qa{
  margin-bottom: 20px;
}