<!DOCTYPE html>
<html>
<head>
  <title>statisfy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <a class="brand" href="#">
        <i class="icon-bar-chart icon-large"></i> <span class="orbitron">statisfy</span>
      </a>
      
      <ul class="nav pull-right">
        <li><a href="#"><i class="icon-off icon-large"></i> Log In</a></li>
      </ul>
      
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
